<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">SACE</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body bk-primary text-light">
                <div class="stat-panel text-center">
                  <div class="stat-panel-number h1 "><%= Date.today.day%></div>
                  <div class="stat-panel-title text-uppercase"><%= [Date.today.strftime("%B"), Date.today.year].join(" - ")%></div>
                </div>
              </div>
              <a href="#" class="block-anchor panel-footer">Fecha <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body bk-success text-light">
                <div class="stat-panel text-center">
                  <div class="stat-panel-number h1 ">8</div>
                  <div class="stat-panel-title text-uppercase">Notificaciones</div>
                </div>
              </div>
              <a href="#" class="block-anchor panel-footer text-center">Ver &nbsp; <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body bk-info text-light">
                <div class="stat-panel text-center">
                  <div class="stat-panel-number h1 ">58</div>
                  <div class="stat-panel-title text-uppercase">Nuevos pagos</div>
                </div>
              </div>
              <a href="#" class="block-anchor panel-footer text-center">Ver &nbsp; <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body bk-warning text-light">
                <div class="stat-panel text-center">
                  <div class="stat-panel-number h1 ">1800</div>
                  <div class="stat-panel-title text-uppercase">Alumnos</div>
                </div>
              </div>
              <a href="#" class="block-anchor panel-footer text-center">Ver &nbsp; <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>