<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">Registrar concepto de pago</h2>
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">Datos</div>
          <div class="panel-body">
            <form method="get" class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">Concepto</label>
                <div class="col-sm-10">
                  <select class="form-control">
                        <option>Excursion</option>
                        <option>Vestimenta</option>
                      </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Nivel</label>
                <div class="col-sm-10">
                  <select class="form-control">
                        <option>Primaria</option>
                        <option>Secundaria</option>
                      </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Grado</label>
                <div class="col-sm-10">
                  <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                      </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Seccion</label>
                <div class="col-sm-10">
                  <select class="form-control">
                        <option>B</option>
                        <option>A</option>
                      </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Alumno</label>
                <div class="col-sm-10">
                  <select class="form-control">
                        <option>Silva, Raul</option>
                        <option>2</option>
                      </select>
                </div>
              </div>
                <div class="form-group">
                  <div class="col-sm-8 col-sm-offset-2">
                    <button class="btn btn-default" type="submit">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>