<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">Reporte de pagos</h2>
    <!-- Zero Configuration Table -->
    <div class="panel panel-default">
      <div class="panel-heading">Pagos</div>
      <div class="panel-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row">
            <div class="col-sm-12">
              <table style="width: 100%;" role="grid" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr role="row">
                    <th style="width: 147px;" colspan="1" rowspan="1" class="sorting">Concepto</th>
                    <th style="width: 243px;" colspan="1" rowspan="1" class="sorting">Monto</th>
                    <th style="width: 105px;" colspan="1" rowspan="1" class="sorting">Numero operacion</th>
                    <th style="width: 105px;" colspan="1" rowspan="1" class="sorting">Fecha de pago</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd" role="row">
                    <td>Matricula</td>
                    <td>S/. 200.00</td>
                    <td>12312323234</td>
                    <td>12/03/16</td>
                  </tr>
                  <tr class="odd" role="row">
                    <td>Mensualidad marzo</td>
                    <td>S/. 400.00</td>
                    <td>123123984</td>
                    <td>12/03/16</td>
                  </tr>
                  <tr class="odd" role="row">
                    <td>Mensualidad abril</td>
                    <td>S/. 400.00</td>
                    <td>123123984</td>
                    <td>12/03/16</td>
                  </tr>
                  <tr class="odd" role="row">
                    <td>Mensualidad mayo</td>
                    <td>S/. 400.00</td>
                    <td>123123984</td>
                    <td>12/03/16</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>