<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">Pagos pendientes</h2>
    <!-- Zero Configuration Table -->
    <div class="panel panel-default">
      <div class="panel-heading">Pagos</div>
      <div class="panel-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row">
            <div class="col-sm-12">
              <table style="width: 100%;" role="grid" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr role="row">
                    <th style="width: 147px;" colspan="1" rowspan="1" class="sorting">Concepto</th>
                    <th style="width: 243px;" colspan="1" rowspan="1" class="sorting">Monto</th>
                    <th style="width: 105px;" colspan="1" rowspan="1" class="sorting">Numero operacion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd" role="row">
                    <td>Mensualidad abril</td>
                    <td>S/. 400.00</td>
                    <td><input type="text" class="form-control input-sm"><button type="submit" class="btn btn-primary btn-sm">Pagar</button></td>
                  </tr>
                  <tr class="odd" role="row">
                    <td>Mensualidad mayo</td>
                    <td>S/. 400.00</td>
                    <td><input type="text" class="form-control input-sm"><button type="submit" class="btn btn-primary btn-sm">Pagar</button></td>
                  </tr>
                  <tr class="odd" role="row">
                    <td>Excursion</td>
                    <td>S/. 100.00</td>
                    <td><input type="text" class="form-control input-sm"><button type="submit" class="btn btn-primary btn-sm">Pagar</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>