<div id="level" class="col-sm-12">
  <%= select_tag "degree_id", options_from_collection_for_select(@education_degrees, "id","name"), include_blank: "Seleccione grado", data: {remote: true, url: sections_search_path}, class: "select form-control input-sm" %>
</div>