  <div class="brand clearfix">
    <a href="index.html" class="logo"><%=image_tag('img/sace.jpg', class: '')%></a>
    <span class="menu-btn"><i class="fa fa-bars"></i></span>
    <%=render 'layouts/partials/profile'%>
  </div>

